body {
  margin: 0 auto;
  background-color: white;
  display: flex;
  flex-direction: column;
  position: relative;
  font-family: sans-serif;
}

.header {
  display: flex;
  background-color: rgb(15, 0, 70);
  color: white;
  align-items: center;
  padding-right: 0px;
  width: 100%;
  margin: 0;
  position: sticky;
  z-index: 150px;
  top: 0;
}

#logo {
  margin-right: auto;
}

.NavHeader {
  display: flex;
  gap: 10px;
}

.HeaderList {
  color: white;
  text-decoration: none;
}

.dicount {
  background-color: black;
  color: azure;
  height: 200px;
  padding: 20px;
}

.maps {
  color: rgb(95, 149, 244);
  text-decoration: none;
}

.movies {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}
.movies,
.moviesList {
  background-image: url("./pict/3d-render-rgb-neon-light-darkness-background-abstract-laser-lines-show-night-ultraviolet-spectrum-beam-scene-mock-up-web-banner_106651-3348\ copy.avif"); /* Ganti "link_ke_gambar.jpg" dengan URL gambar yang Anda inginkan */
  background-size: cover;
  background-position: center;
  margin: 0;
}

.movies h1 {
  color: white;
}

.movies a {
  color: white;
  text-decoration: none;
}

.moviesList {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
}

.Aboutfilms {
  display: flex;
  flex-direction: column;
  color: white;
}

.title-film {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.Get-Tickets {
  background-color: rgb(246, 42, 42);
  border-radius: 70px;
  padding: 10px;
  color: white;
}

.html-container {
  background-color: black;
  display: block;
}

.artikel-box {
  display: flex;
  background-color: rgb(54, 50, 50);
}

.content {
  color: white;
  background-color: rgb(37, 36, 36);
  padding: 25px;
}

.inside-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 30px;
  background-color: black;
}

.download-btn {
  display: flex;
  justify-content: space-around;
}

.mobile-app-store-banner {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
}

.mobile-app-store-banner p {
  margin-left: 10px;
  font-size: 13px;
}

.rating {
  margin-left: 10px;
  font-size: 13px;
}

.big-container-films {
  background-image: url(./pict/Background.png);
  color: aliceblue;
}

.contain-container-film {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px 0 20px 0;
}

.contain-container-second-film {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 30px 30% 50px 20px;
}
